
body{
    background-color: #F9F9F9;
}

html{
    scroll-behavior: smooth;
}

.nav-link {
    position: relative;
    padding-bottom: 5px;
}

.nav-link.active {
    color: #323D8E;
    font-weight: 600;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: #323D8E;
    border-radius: 3px;
}

.service-section{
    height: 120vh;
    margin-top: 2rem;
    margin-bottom: 5rem;

}

@media screen and (min-width: 1300px) {
    .service{
        height: max-content;
    }

    .service-section{
        height:auto;
    }

    .service-main{
        position: static;
    }
    .service-cards{
        position: static !important;
    }
}

.service{
    background-image: url(./images/service-bg.png);
    background-size: cover;
    background-position: center;
    /* height: 70vh; */
}

.service-main{
    position: relative
}

.service-cards{
    position: absolute;
    top: 15rem;
    left: 0;
    right: 0;
}
.contact-btn{
    width: 50%;

}

@media screen and (max-width: 725px) {

    .service-section{
        height: max-content;
    }
    .service{
        height: max-content !important;
        padding: 20px;
    }
    .service-main{
        position: static;
    }
    .service-cards{
        position: static !important;
    }

}